@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --orange: #fb991c;
  --blue: #0A1128;
  --lightBlue: #85b1ff;
  --justBlue: #101c42;
  --middleBlue: #002d7a;
  --transparentOrange: #fb991c29;
  --transparentGrey: #211e1e4d;
  --transparentBlack: #211e1e29;
  --black: #211e1e;
  --white: #ffffff;
  --grey: #211e1e4d;
}